.language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.language-selector svg {
  cursor: pointer;
}

.language-selector .dropdown {
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 250%;
  right: 0;
  z-index: 1000;
  background-color: #DCD9D4;
  box-shadow: black 0 0 15px;
  width: fit-content;
  max-height: 1000rem; /* Maximum height for the dropdown */
  overflow-y:hidden; /* Enable vertical scrolling */
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 8px 20px;
  cursor: pointer;
  
}

.dropdown li:hover {
  background-position: right center;
  background-color: #fff;
  transition: 0.1s;
  text-decoration: none;
}
