    @keyframes popIn {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .how-it-works-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        user-select: none;
        text-align: center;
        align-items: center;

    }

    .how-it-works-container .image-display {
        width: 100%;
        display: flex;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
            ),url(../../assets/how-it-works.png);
        background-size:cover;
        background-position-y: center;
        padding: 20px;
        height: 70vh;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .how-it-works-container .image-display h1 {
        color: white;
        opacity: 1;
        width: 60%;
        font-size: 3rem;
        text-align: left;
    }

    .step-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: center;
        align-items: center;
    }

    .step {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 3rem;
        width: 100%;
        animation: fade 1s ease-in-out infinite alternate ;
        opacity: 0; /* Start hidden */
        transform: scale(0.5); /* Start with scale reduced */
        transition: transform 1s, opacity 1s;
    }

    .step-text {
        box-shadow: gray 0 0 20px;
        z-index: 1;
        flex: 1;
        padding: 3rem;
        border-radius: 20px;
        margin-right: 3rem;
        background: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
    }

    .step-text h3 {
        font-size: x-large;
        margin-bottom: 2rem;
    }

    .step-image {
        box-shadow: gray 0 0 20px;
        height: fit-content;
        flex: 2;
        border-radius: 20px;
        overflow: hidden;
    }

    .step-image video, .step-image img{
        max-width: 100%;
        object-fit: cover;
    }

    .features {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        width: 80%;
    }

    .features h2 {
        font-size: 3rem;
        margin: 3rem;
    }

    .features-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-height: 15rem;
    }

    .features-showcase p {
        background-color: red;
    }

    .features-row p {
        font-size: large;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 20px;
        padding: 0 2rem;
        margin: 2rem;
        background: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
        box-shadow: gray 0 0 20px;
        animation: fade 1s ease-in-out infinite alternate ;
        opacity: 0; /* Start hidden */
        transform: scale(0.5); /* Start with scale reduced */
        transition: transform 1s, opacity 1s;
    }

    .features-showcase p.pop-in, .step.pop-in {
        animation: popIn 1s forwards;
    }