table {
    border-collapse: collapse;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: black 0 0 10px;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color:green;
    border: none
}

td {
    background-color: #202020;
}

select {
    background: none;
    border: none;
    outline: none;
}

select:hover {
    cursor: pointer;
}

input {
    background: none;
    border: none;
    outline: none;
    text-align: center;
}
.time-select {
    outline: none;
    border: none;
    appearance: none;
    text-align: center;
    background: none;
}
.time-select-container {
    background:none;
}

.action-button {
    background-color: transparent;
    border: none;
}

.action-button .control-button {
    background: none;
}
.control-button:hover {
    cursor: pointer;
}

.action-button:hover .control-button{
    fill: gray; /* Change this to your desired hover color */
    transition: 0.4s ease;
}