.schedule-table-container {
    max-height: 30vh;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: black 0 0 10px;
    border-radius: 10px;

}
table {
    border-collapse: collapse;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

th, td {
    padding: 8px;
    text-align: center;
    color: #202020;
}

th {
    border: none;
}

select {
    background: none;
    border: none;
    outline: none;
    color: #202020;
}

select:hover {
    cursor: pointer;
}

input {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    color: #202020;
}
.time-select {
    outline: none;
    border: none;
    appearance: none;
    text-align: center;
    background: none;
}
.time-select-container {
    background:none;
    color: #E2E2E2;
}

.action-button {
    background-color: transparent;
    border: none;
}

.action-button .control-button {
    background: none;
    fill: #E2E2E2;
}
.control-button:hover {
    cursor: pointer;
}

.action-button:hover .control-button{
    fill: gray; /* Change this to your desired hover color */
    transition: 0.4s ease;
}
