.map-container {
    width: 100%;
    background-color: white;
    height: 400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    box-shadow: black 0 0 15px;
  }
