.location-info {
    font-family: "Montserrat", sans-serif;
    color: #424242;
    background-color: #ffffff;
    max-width: 400px;
  }
  
.location-info h2 {
  font-size: 18px;
  color: #333333;
}

.location-info p {
  margin: 5px 0;
  color: #666666;
}
  