.hero-section {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

.hero-content {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.hero-content h1 {
  font-size: 4rem;
  color: #202020;
}

.hero-content p {
  font-size: 1rem;
  color: #202020;
}

.main-button {
  width: fit-content;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100rem;
  background-color: #202020;
  margin-top: 20px;
  align-items: center;
  color: #E2E2E2;
}

.main-button svg {
  margin-left: 10px;
  background-color: #202020;
  fill: #E2E2E2;
}

.hero-image {
  display: flex;
  flex-direction: column;
  width: 50%;
}
